// main.scss
// main.scss
@import 'variables';
@import 'mixins';
@import 'base';
@import 'components/header';
@import 'components/footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SVN-GilroyLight";
}

img {
    width: 100px;

}

body {
    width: 100%;
}


.header {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 100vw;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 50px;
    }
    &__li{
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        color: $primary-color;
    }
    img {
        width: 150px;
    }

    &__search {
        display: flex;
        gap: 20px;
        input {
            padding: 8px 40px 10px 50px;
            width: 300px;
            height: 50px;
            border: none;
            border-radius: 50px;
        }
        i {
            position: absolute;
            left: 61vw;
            top: 50px;
            pointer-events: none; /* L'icône ne bloque pas l'interaction avec l'input */
        }
    }
    button {
        @include button-style;
    }
}

.section1 {
    background-color: $secondary-color;
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    &__left {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        width: 40vw;
    }
    &__right {
        width: 40vw;
        img{
            width: 100%;
        }
    }
}